/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
}

.footer .logo {
  width: 200px;
  height: 80px;
}

.fit {
  width: fit-content;
}

.main-block {
  min-height: 550px;
}

.main-block img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.category {
  max-width: 300px;
  flex: 1 0 30%;
  transition: transform 250ms;
}

.category a {
  text-decoration: none;
  color: transparent;
}

.category:link {
  text-decoration: none;
  color: black;
}

.category:visited {
  text-decoration: none;
  color: black;
}

.category:hover {
  text-decoration: none;
  color: black;
  transform: scale(1.05);
}

.category:active {
  text-decoration: none;
  color: black;
}

.category img {
  width: auto;
  max-width: 200px;
  max-height: 200px;
  height: 100%;
}

.product {
}

.product img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

table td {
  max-width: 0;
}

.z-8 {
  z-index: 8000;
}

.z-9 {
  z-index: 9000;
}
