@model dynamic

@{
    ViewBag.Title = "Подтверждение";
    Layout = "_Layout";
}

<h1 class="text-center text-wrap mt-5">Подтверждение</h1>

<h3 class="text-muted text-center text-wrap">@ViewData["Text"]</h3>
