@model dynamic

@{
    ViewBag.Title = "Восстановление";
    Layout = "_Layout";
}

<h1 class="text-center text-wrap mt-5">Восстановление</h1>

<h3 class="text-muted text-center text-wrap">На вашу почту было выслано письмо с дальнейшими указаниями</h3>
