@model dynamic

@{
    ViewBag.Title = "Пользователь создан";
    Layout = "_Layout";
}

<h1 class="text-center text-wrap mt-5">Пользователь создан</h1>

<h3 class="text-muted text-center text-wrap">
    Ваша учетная запись была успешно активирована. Пожалуйста, <a asp-action="Login">войдите</a> в свою учетную запись.
</h3>
