@model dynamic

@{
    ViewBag.Title = "Выбрать категорию для добавления товара";
    Layout = "_Layout";
}

<h1 class="text-center text-wrap mt-5">Категории</h1>

<div class="container my-5">
    
</div>
