@model dynamic

@{
    ViewBag.Title = "Товары";
    Layout = "_Layout";
}

<h1 class="text-center text-wrap mt-3">Название категории</h1>


<div class="search mt-3  mx-auto col-12 col-lg-4 col-xl-4">
    <form class="d-flex">
        <input class="form-control rounded-pill" type="search" placeholder="Поиск" aria-label="Search" @*onkeyup="searchFunction(this)"*@>
        @* <button class="btn btn-outline-primary" type="submit">Найти</button> *@
    </form>
</div>  
<div class="row mt-3 h-100">
    <div class="col-12 col-md-3 mb-5 mb-md-0 border-end border-2 border-dark d-flex flex-column">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item active">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Фильтр 1
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="sec1-op1">
                            <label class="form-check-label" for="sec1-op1">
                                Опция 1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="sec2-op2">
                            <label class="form-check-label" for="sec2-op2">
                                Опция 2
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-3 mx-auto">Показать</button>
    </div>
    <div class="col-12 col-md-9 overflow-scroll custom-scroll" style="overflow-x: hidden !important; min-height: 30vh; max-height: 75vh;">
        <div class="row flex-lg-nowrap product mb-3 ms-2 border-bottom border-1 border-dark">
            <img alt="Изображение товара" src="~/static-pic/pc-parts/motherboard.svg" class="col-2 col-lg-3 my-2 mx-auto mx-lg-0 mx-xl-0"/>
            <div class="col-10 col-lg-9 d-flex flex-column justify-content-between mx-auto mx-md-0">
                <div class="row mb-2">
                    <div class="col-10">
                        Компьютерная деталь, довольно длинное описание детали с техническими характеристиками.
                    </div>
                    <div class="col-2 text-end">
                        <span class="fs-3">199$</span>
                    </div>
                </div>
                <div class="row mb-2 justify-content-between flex-wrap">
                    <div class="fit d-flex">
                        <span class="mt-auto">Рейтинг: 5.0</span>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-md-4 d-flex flex-row">
                        <button class="btn btn-primary btn-sm w-100 fit me-3" type="submit">Купить</button>
                        <a class="btn btn-primary btn-sm w-100 fit align-items-center" asp-area="" asp-controller="Shop" asp-action="Product">Детали</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>