@import "functions";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;0,700;1,300&display=swap');

$primary: #BB2C47;
$dark: #111931;
$secondary: $dark;
$light: #FAFAFA;

$font-family-base: "Montserrat";

@import "variables";
@import "mixins";

$logo-bg: url("data:image/svg+xml,<svg viewBox='0 0 215 73' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(#clip0)'> <path d='M6.29764 28.5608C4.75368 27.6826 3.56979 26.4469 2.74341 24.8511C1.91702 23.2579 1.50513 21.4212 1.50513 19.341C1.50513 16.5925 2.04137 14.1133 3.11386 11.9062C4.18635 9.69901 5.69404 7.96075 7.64214 6.68879C9.58764 5.41943 11.8207 4.78215 14.3387 4.78215C16.1858 4.78215 17.8204 5.1526 19.2348 5.89091C20.6519 6.6318 21.7218 7.69393 22.4497 9.07987L18.9965 12.4087C17.8955 10.515 16.2324 9.56689 14.0123 9.56689C12.4968 9.56689 11.1601 9.98397 9.99954 10.8155C8.83897 11.6471 7.94005 12.7792 7.30019 14.2117C6.66032 15.6443 6.34168 17.2401 6.34168 18.9939C6.34168 20.8669 6.84684 22.3513 7.85974 23.4471C8.87265 24.5455 10.2923 25.0946 12.1212 25.0946C14.305 25.0946 16.134 24.1595 17.608 22.2865L20.4395 25.6827C18.3929 28.4779 15.4837 29.8768 11.7093 29.8768C9.64463 29.8768 7.84161 29.439 6.29764 28.5608Z' fill='#DDEF3F'/> <path d='M27.3718 28.5608C25.8563 27.6826 24.6983 26.4469 23.8901 24.8511C23.0844 23.2579 22.6803 21.4187 22.6803 19.341C22.6803 16.5925 23.2165 14.1133 24.289 11.9062C25.3615 9.69901 26.864 7.96075 28.8018 6.68879C30.7395 5.41943 32.957 4.78215 35.4543 4.78215C37.519 4.78215 39.309 5.22254 40.8219 6.09815C42.3348 6.97635 43.4954 8.21204 44.3036 9.80782C45.1093 11.401 45.5134 13.2403 45.5134 15.3179C45.5134 18.0691 44.9771 20.5456 43.9047 22.7528C42.8322 24.9599 41.3271 26.6982 39.3919 27.9702C37.4542 29.2421 35.2367 29.8768 32.7394 29.8768C30.6773 29.8768 28.8873 29.439 27.3718 28.5608ZM37.1356 23.8123C38.2754 22.9574 39.151 21.815 39.7598 20.3798C40.3686 18.9473 40.6742 17.3644 40.6742 15.6314C40.6742 13.7817 40.182 12.3103 39.2002 11.2119C38.2158 10.1135 36.8299 9.5643 35.0424 9.5643C33.5269 9.5643 32.2006 9.99174 31.0607 10.8466C29.9209 11.7015 29.0453 12.8465 28.4365 14.2791C27.8277 15.7117 27.522 17.2945 27.522 19.0276C27.522 20.8772 28.0142 22.3487 28.9961 23.4471C29.9779 24.5455 31.3664 25.0946 33.1539 25.0946C34.6694 25.0946 35.9957 24.6672 37.1356 23.8123Z' fill='#DDEF3F'/> <path d='M74.3021 5.19923L70.2012 29.4623H65.717L68.1366 15.0433L60.2613 26.8977H58.137L53.8885 14.906L51.412 29.4649H46.9277L51.0571 5.20182H54.9507L60.1136 20.3151L70.2012 5.20182H74.3021V5.19923Z' fill='#DDEF3F'/> <path d='M93.5472 7.19136C94.9539 8.52031 95.6559 10.3751 95.6559 12.7533C95.6559 14.7868 95.2466 16.5614 94.4306 18.0743C93.6146 19.5871 92.454 20.7503 90.9489 21.5585C89.4438 22.3668 87.6693 22.7709 85.6253 22.7709H81.0245L79.9028 29.4597H75.0947L79.2241 5.19664H87.5708C90.151 5.19923 92.1431 5.86241 93.5472 7.19136ZM89.5215 16.9137C90.3867 16.0588 90.8194 14.8335 90.8194 13.2403C90.8194 12.0849 90.4904 11.2197 89.8324 10.642C89.1744 10.0643 88.2236 9.77414 86.9853 9.77414H83.2394L81.7939 18.196H85.8351C87.4283 18.196 88.6563 17.7686 89.5215 16.9137Z' fill='#DDEF3F'/> <path d='M99.9357 27.6075C98.4617 26.0946 97.7234 24.0196 97.7234 21.385C97.7234 20.6234 97.8011 19.7555 97.9591 18.7867L100.26 5.19923H105.068L102.767 18.683C102.648 19.4447 102.591 20.1286 102.591 20.727C102.591 22.1829 102.93 23.2735 103.609 24.0014C104.288 24.7294 105.275 25.0921 106.573 25.0921C108.029 25.0921 109.187 24.5843 110.054 23.5662C110.92 22.5507 111.549 20.9213 111.943 18.6779L114.243 5.19405H118.932L116.601 19.025C115.342 26.2578 111.821 29.8742 106.042 29.8742C103.446 29.8768 101.41 29.1204 99.9357 27.6075Z' fill='#DDEF3F'/> <path d='M126.807 9.77414H120.201L120.997 5.19923H138.991L138.195 9.77414H131.618L128.255 29.4623H123.476L126.807 9.77414Z' fill='#DDEF3F'/> <path d='M145.537 9.7042L144.651 14.9734H154.239L153.5 19.341H143.884L142.941 24.9573H154.21L153.415 29.4623H137.429L141.558 5.19923H157.161L156.366 9.7042H145.537Z' fill='#DDEF3F'/> <path d='M176.271 18.5431C175.23 20.1597 173.784 21.3047 171.935 21.9756L175.533 29.4623H170.489L167.246 22.6673H163.176L162.026 29.4597H157.218L161.347 5.19664H169.753C172.31 5.19664 174.295 5.85464 175.712 7.17323C177.129 8.48923 177.836 10.3389 177.836 12.7196C177.836 14.9863 177.313 16.9266 176.271 18.5431ZM171.686 16.9137C172.562 16.0588 172.999 14.8335 172.999 13.2403C172.999 12.0849 172.665 11.2197 171.997 10.642C171.328 10.0643 170.375 9.77414 169.137 9.77414H165.362L163.917 18.196H167.987C169.577 18.196 170.81 17.7686 171.686 16.9137Z' fill='#DDEF3F'/> <path d='M132.838 41.3866C134.245 42.7156 134.947 44.5704 134.947 46.9485C134.947 48.9821 134.538 50.7566 133.722 52.2695C132.906 53.7824 131.745 54.9455 130.24 55.7538C128.735 56.562 126.96 56.9662 124.916 56.9662H120.316L119.194 63.655H114.386L118.515 39.3919H126.862C129.442 39.3945 131.432 40.0577 132.838 41.3866ZM128.812 51.1089C129.678 50.2541 130.11 49.0287 130.11 47.4355C130.11 46.2802 129.781 45.4149 129.123 44.8346C128.465 44.2569 127.515 43.9694 126.276 43.9694H122.53L121.085 52.3913H125.126C126.717 52.3913 127.947 51.9638 128.812 51.1089Z' fill='#EDE9E9'/> <path d='M149.343 58.4583H139.726L137.043 63.6576H131.939L145.301 39.3945H150.021L155.094 63.6576H150.314L149.343 58.4583ZM148.545 54.1943L146.804 44.8346L141.936 54.1943H148.545Z' fill='#EDE9E9'/> <path d='M176.302 52.7384C175.261 54.3549 173.815 55.4999 171.966 56.1709L175.564 63.6576H170.52L167.277 56.8651H163.205L162.054 63.6576H157.246L161.376 39.3945H169.782C172.339 39.3945 174.323 40.0525 175.74 41.3711C177.157 42.6871 177.865 44.5367 177.865 46.9174C177.865 49.1816 177.344 51.1219 176.302 52.7384ZM171.715 51.1089C172.59 50.2541 173.028 49.0287 173.028 47.4355C173.028 46.2802 172.694 45.4149 172.025 44.8346C171.357 44.2569 170.404 43.9694 169.165 43.9694H165.391L163.945 52.3913H168.015C169.606 52.3913 170.839 51.9638 171.715 51.1089Z' fill='#EDE9E9'/> <path d='M186.242 43.9694H179.636L180.432 39.3945H198.426L197.63 43.9694H191.053L187.69 63.6576H182.911L186.242 43.9694Z' fill='#EDE9E9'/> <path d='M199.221 63.3104C197.726 62.8027 196.527 62.155 195.623 61.3701L197.571 57.0387C198.514 57.847 199.576 58.4713 200.757 58.9117C201.936 59.3521 203.146 59.5697 204.384 59.5697C205.7 59.5697 206.744 59.3158 207.511 58.8081C208.278 58.3003 208.661 57.606 208.661 56.7278C208.661 56.0128 208.355 55.4636 207.747 55.0802C207.138 54.6994 206.164 54.2901 204.827 53.8497C203.49 53.3886 202.397 52.943 201.553 52.5156C200.708 52.0882 199.975 51.4457 199.356 50.5908C198.737 49.7359 198.426 48.6039 198.426 47.1946C198.426 45.5548 198.814 44.1093 199.592 42.8632C200.369 41.6146 201.47 40.6561 202.894 39.9851C204.319 39.3142 205.977 38.98 207.866 38.98C209.262 38.98 210.578 39.1587 211.819 39.5162C213.057 39.8737 214.119 40.3892 215.005 41.0576L213.202 45.3553C212.436 44.731 211.57 44.2647 210.607 43.9512C209.643 43.6378 208.64 43.4824 207.599 43.4824C206.241 43.4824 205.169 43.7595 204.384 44.3139C203.597 44.8683 203.205 45.5859 203.205 46.4641C203.205 46.9951 203.371 47.4407 203.708 47.7982C204.042 48.1557 204.464 48.4459 204.977 48.6635C205.488 48.8837 206.205 49.1427 207.13 49.4432C208.446 49.8603 209.529 50.28 210.373 50.7074C211.218 51.1348 211.941 51.7592 212.542 52.5778C213.14 53.399 213.441 54.4792 213.441 55.8186C213.441 57.4817 213.047 58.9324 212.262 60.1681C211.474 61.4038 210.363 62.3649 208.928 63.0462C207.493 63.7275 205.819 64.0695 203.913 64.0695C202.278 64.0721 200.716 63.8182 199.221 63.3104Z' fill='#EDE9E9'/> </g> <defs> <clipPath id='clip0'> <rect width='215' height='72.8773' fill='white'/> </clipPath> </defs> </svg> ");

.logo {
  background: escape-svg($logo-bg);
}

.logo {
  display: inline-block;
  width: 120px;
  height: 50px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.fs-sm {
  font-size: .75rem !important;
}

.fs-xl {
  font-size: calc(1.4rem + 2vw) !important;
}

.fs-xxl {
  font-size: calc(1.425rem + 2.5vw) !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.mw-25 {
  max-width: 25%;
}

.mw-50 {
  max-width: 50%;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

main .custom-scroll::-webkit-scrollbar, footer .custom-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: $dark;
}

main .custom-scroll::-webkit-scrollbar-track {
  background: none;
}

footer .custom-scroll::-webkit-scrollbar-track {
  background: white;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $primary;
}

main .custom-scroll::-webkit-scrollbar-thumb, footer .custom-scroll::-webkit-scrollbar-thumb {
  background: $dark;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.active-select {
 border-radius: 5px 5px 0 0 !important;
}

